body {
    background: url("images/bg.jpg");
}

#sky {
    position: absolute;
    z-index: -1;
}

#gameContainer {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: black;
    color: white;
}