* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background:url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

/* Snowing Effects */
#SnowingEffect {
    background-image: url('images/snow/snow1.png'), url('images/snow/snow2.png'), url('images/snow/snow3.png');
    -webkit-animation: snow 5s linear infinite;
    -moz-animation: snow 5s linear infinite;
    -ms-animation: snow 5s linear infinite;
    animation: snow 5s linear infinite;
}

/*Keyframes Cross Browser Snowing Animation*/
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-color:#b4cfe0;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}


/* Page Header */
h1 {
    text-align: center;
    padding: 25px 0;
}

/* Left/Right Snow Path Styles */
.pathSnow {
    fill:#EFEFEF;
    stroke:#000000;
    stroke-width:3;
    stroke-miterlimit:10;
}

/* Main Game Container */
#game-container {
    width: 800px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: #8b8b8b;
    border: 2px solid grey;
    cursor: url('images/cursor.png'),auto;
}

/* Hoover effect on Left/Right Path and Obstacles */
/* For Testing purposes only */
#Left > path:hover,
#Right > path:hover,
#Obstacles:hover,
#Trees_and_Raindeers:hover{
    opacity: 0.3;
}