/* Common definitions */
body{background-color: #000000;}

/* Definition for cursor */
.cursor-gingerbread{cursor: url("../images/gingerbread-man-icon.png"),default;}

/* Definition for text */
.text-main-title{
    font-size: 50px;
    color: #eeeeee;
    font-weight: bold;
}

/* Definition for background of the game*/
.svgPath{width: 0px;height: 0px;}
.game-background{
    width: 800px;
    height: 1000px;
    -webkit-clip-path: url("#svgPath-sides");
    clip-path: url("#svgPath-sides");
}

/* Definition for snows */
.snow{
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #eeeeee;
    position: relative;
    z-index: 1;
}
.snow:hover{
    fill: red;
}

.snow-move-1{
    animation: kf-snow-move-1 20s steps(500) infinite;

    /* Safari 4.0 - 8.0 */
    -webkit-animation: kf-snow-move-1 20s steps(500) infinite;
}
@keyframes kf-snow-move-1{0%{top: 0px;}100%{top: 1000px;}}
@-webkit-keyframes kf-snow-move-1{0%{top: 0px;}100%{top: 1000px;}}

.snow-move-2{
    animation: kf-snow-move-2 20s steps(500) infinite;

    /* Safari 4.0 - 8.0 */
    -webkit-animation: kf-snow-move-2 20s steps(500) infinite;
}
@keyframes kf-snow-move-2{0%{top: -50px;}100%{top: 1000px;}}
@-webkit-keyframes kf-snow-move-2{0%{top: -50px;}100%{top: 1000px;}}

.snow-move-3{
    animation: kf-snow-move-3 20s steps(500) infinite;

    /* Safari 4.0 - 8.0 */
    -webkit-animation: kf-snow-move-3 20s steps(500) infinite;
}
@keyframes kf-snow-move-3{0%{top: 50px;}100%{top: 1000px;}}
@-webkit-keyframes kf-snow-move-3{0%{top: 50px;}100%{top: 1000px;}}